body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
  table-layout: auto;
  width: 650px; 
  padding:100px
}
.container {
  justify-content: space-around;
}